<div class="container">
  <h1><%= @pub.title %><small> Issue:
  <% if not @issue.no.nil? %>
    <%= @issue.no %>
  <% else %>
  	<% if not @issue.title.nil? %>
  		<%= @issue.title %>
  	<% end %>
  <% end %>
   </small></h1>
  <h2>
  	<a href="<%= issue_path(@previous_issuedescription)%>"><span class="glyphicon glyphicon-chevron-left"></span></a>
  	<a href=" <%= descriptions_issue_path(@issue) %>"><%= @issuedesc.title %> </a>
  	<a href="<%= issue_path(@next_issuedescription)%>"><span class="glyphicon glyphicon-chevron-right"></span></a>
  	<% if @year_before.nil? %>
  		<span class="glyphicon glyphicon-chevron-left"></span>
  	<% else %>
  		<a href="<%= issue_path(@year_before)%>"> <span class="glyphicon glyphicon-chevron-left"></span></a>
  	<% end %>
  	<a href="<%= years_issue_path(@issue)%>"><%= @issue.year %></a>
  	<% if @year_after.nil? %>
  		<span class="glyphicon glyphicon-chevron-right"></span>
  	<% else %>
  		<a href="<%= issue_path(@year_after) %>)"><span class="glyphicon glyphicon-chevron-right"></span></a>
  	<% end %>
    </h2>
<h3>Recipes</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Recipe</th>
        <th>Page</th>
      </tr>
    </thead>
    <tbody>
    	<% @recipes.each do |recipe| %>
	      <tr>
	        <td>
	        <% if recipe.url.nil? %>
	        	<%= recipe.title %>
	        <% else %>
	        	<a href="<%= recipe.url %>"><%= recipe.title %></a>
	        <% end %>
	        </td>
	        <td><%= recipe.page %></td>
	      </tr>
	     <% end %>
    </tbody>
  </table>
</div>
