<div class="login">
	<%= form_for(:session, url: login_path)  do |f| %>
		<fieldset class="login" >
			<h2 class="login" >Sign up</h2>
			<ul class="login">
				<li>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</li>
		<li>			
			<%= f.label :screen_name %>
			<%= f.text_field :screen_name %>
		</li>			
		<li>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</li>
		<li>
			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>
		</li>			
		<li>
			<%= f.submit "Create account", class: "btn btn-primary" %>
		</li>		
			</ul>	
		</fieldset>
	<% end %>
</div>
<p> Already have an account. <%= link_to "Log in now", login_path %></p>



